zone "mf.hbonow.com." {
    type master;
    file "/data/conf/db.override";
};

zone "hbonow.com." {
    type master;
    file "/data/conf/db.override";
};

zone "ipinfo.io." {
    type master;
    file "/data/conf/db.override";
};
